.grid {
  max-width: fit-content;
  display: grid;
  grid-template: repeat(3, 80px) / repeat(3, 80px);
  background-color: gray;
  gap: 5px;
}

.token1 {
  background-color: #09ff00;
}

.token2 {
  background-color: aquamarine;
}

.blank {
  background-color: #fff;
}

body {
  background-color: #c9c9c9;
}
